.btn-gold {
  background-color: $color-gold;
  border-color: $color-gold;
  font-size: 1.6rem;
  color: $color-black;
  width: 20%;

  &:hover {
    background-color: transparent;
    color: $color-white;
  }
}

.btn-altGold {
  background-color: $color-black;
  border-color: $color-gold;
  font-size: 1.6rem;
  color: $color-gold;
  width: 20%;

  &:hover {
    background-color: $color-gold;
    color: $color-black;
  }
}

@media only screen and (max-width: 768px) {
  .button-container {
    text-align: center;
    margin-bottom: 2rem;
  }

  .btn-altGold,
  .btn-gold {
    width: 50%;
  }
}
