$color-black: rgb(33, 37, 41);
$color-white: rgb(248, 249, 250);
$color-gold: #ff9e00;

$color-mclarenOne: rgb(255, 123, 0);
$color-mclarenTwo: rgb(0, 0, 255);

$color-ferrariOne: rgb(255, 0, 0);
$color-ferrariTwo: rgb(100, 0, 0);

$color-williamsOne: rgb(0, 0, 255);

$color-astonOne: rgb(0, 51, 0);
$color-astonTwo: rgb(255, 30, 124);

$color-mercOne: rgb(0, 0, 0);
$color-mercTwo: rgb(214, 214, 214);
$color-mercThree: rgb(19, 228, 175);

$color-alpineOne: rgb(0, 0, 190);

$color-bullOne: rgb(0, 0, 128);
$color-bullTwo: rgb(255, 238, 0);

$color-alphaOne: rgb(0, 0, 46); ;
