@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/button";

button {
  font-size: 1.6rem;
}

@media only screen and(max-width:992px) {
  .row {
    display: flex;
    flex-flow: column-reverse;
  }
}
