@import "../../../styles/helpers/variables";

// .team-section {
//   background-image: url(../../../assets/images/ferrari-team.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }

.team-info {
  border-left: 2px solid $color-black;
}

.team-header,
.team-image {
  border-bottom: 2px solid $color-black;
}

.team-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & ul {
    padding-left: 2rem;
  }

  & li {
    margin: 0 auto;
    margin-bottom: 0;
    list-style: none;
  }

  a {
    cursor: pointer;
    color: $color-gold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.Ferrari {
  color: $color-white;
  //background-color: $color-ferrariOne;
  background-image: linear-gradient(
    to right,
    $color-ferrariOne,
    70%,
    $color-ferrariTwo
  );
}

.Williams {
  color: $color-white;
  //background-color: $color-williamsOne;
  background-image: linear-gradient(
    to right,
    $color-williamsOne,
    70%,
    $color-white
  );
}

.McLaren {
  color: $color-mclarenTwo;
  //background-color: $color-mclarenOne;
  background-image: linear-gradient(
    to right,
    $color-mclarenOne,
    70%,
    $color-mclarenTwo
  );
}

.Aston {
  color: $color-astonTwo;
  background-image: linear-gradient(
    to right,
    $color-astonOne,
    90%,
    $color-astonTwo
  );
}

.Mercedes {
  color: $color-mercThree;
  background-image: linear-gradient(
    to right,
    $color-mercOne,
    90%,
    $color-mercTwo
  );
}

.Alpha {
  color: $color-white;
  background-image: linear-gradient(
    to right,
    $color-ferrariOne,
    70%,
    $color-white
  );
}

.Alpine {
  color: $color-white;
  background-image: linear-gradient(
    to right,
    $color-alpineOne,
    70%,
    $color-white,
    85%,
    $color-ferrariOne
  );
}

.Bull {
  color: $color-bullTwo;
  background-image: linear-gradient(
    to right,
    $color-bullOne,
    90%,
    $color-ferrariOne
  );
}

.Haas {
  color: $color-ferrariOne;
  background-image: linear-gradient(
    to right,
    $color-white,
    80%,
    $color-williamsOne
  );
}

.Tauri {
  color: $color-white;
  background-image: linear-gradient(
    to right,
    $color-alphaOne,
    70%,
    $color-white
  );
}

@media only screen and (max-width: 992px) {
  .image-box {
    padding-bottom: 2rem;
  }
  .team-info {
    border-left: none;
  }

  .team-bio {
    padding-top: 2rem;
  }
}
