@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/team";

.container-fluid {
  background-color: $color-black;
  border-bottom: 2px solid $color-gold;
}

.team-info {
  border-left: 2px solid $color-black;
}

.team-header,
.team-image {
  border-bottom: 2px solid $color-black;
}

.team-link {
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;

  & ul {
    padding-left: 2rem;
  }

  & li {
    margin: 0 auto;
    margin-bottom: 0;
    list-style: none;
  }

  a {
    cursor: pointer;
    color: $color-gold;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 992px) {
  .image-box {
    padding-bottom: 2rem;
  }
  .team-info {
    border-left: none;
  }

  .team-bio {
    padding-top: 2rem;
  }

  .team-link {
    flex-direction: column;
  }
}
