@import "../../../styles/helpers/variables";
.team-info {
  border-left: 2px solid $color-black;
}

.team-header {
  border-bottom: 2px solid $color-black;
}

.team-image {
  border-bottom: 2px solid $color-black;

  // & .image-box {
  //   margin: 0 auto;
  // }
}

.team-link {
  display: flex;
  flex-direction: row;

  & ul {
    padding-left: 2rem;
  }

  & li {
    margin: 0 auto;
    margin-bottom: 0;
    list-style: none;
  }

  a {
    cursor: pointer;
    color: $color-gold;

    &:hover {
      text-decoration: underline;
    }
  }
}
