<section class="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="form-box">
          <p class="p-5">
            Contact Us to receive more detailed information about your favourite
            team
          </p>
          <form
            [formGroup]="contactForm"
            autocomplete="off"
            (ngSubmit)="onSubmit()"
          >
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                placeholder="name"
                #thankYouName
              />
              <span
                class="form-text small"
                *ngIf="
                  !contactForm.get('name').valid &&
                  contactForm.get('name').touched
                "
              >
                Please enter a valid name.
              </span>
              <label for="name" class="form-label">Name</label>
            </div>
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                placeholder="email"
              />
              <span
                class="form-text small"
                *ngIf="
                  !contactForm.get('email').valid &&
                  contactForm.get('email').touched
                "
              >
                Please enter a valid email.
              </span>
              <label for="email" class="form-label">Email</label>
            </div>
            <div class="mb-3">
              <select
                type="text"
                class="form-control"
                id="interest"
                formControlName="interest"
                placeholder="interest"
              >
                <option
                  [value]="team"
                  *ngFor="let team of teams"
                  class="option-class"
                >
                  {{ team }}
                </option>
              </select>
              <span
                class="form-text small"
                *ngIf="
                  !contactForm.get('interest').valid &&
                  contactForm.get('interest').touched
                "
              >
                Please enter a team.
              </span>
              <label for="interest" class="form-label">Team</label>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="phone"
                formControlName="phone"
                placeholder="phone"
              />
              <span
                class="form-text small"
                *ngIf="
                  !contactForm.get('phone').valid &&
                  contactForm.get('phone').touched
                "
              >
                Please enter a valid 10 digit phone No.
              </span>
              <label for="phone" class="form-label">Phone</label>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="message"
                formControlName="message"
                placeholder="message"
              />
              <span class="small" *ngIf="thankYou"
                >Thank You {{ thankYouName.value }} for your interest</span
              >
              <label for="message" class="form-label">Message</label>
            </div>

            <div class="button-container">
              <button class="btn btn-altGold" [disabled]="!contactForm.valid">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 media-box">
        <div class="p-5">
          <ul class="media-link">
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook fa-lg"></i>
                <span>Facebook</span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/?lang=en" target="_blank"
                ><i class="fa fa-twitter fa-lg"></i>
                <span>Twitter</span>
              </a>
            </li>
            <li>
              <a href="https://ie.linkedin.com/" target="_blank"
                ><i class="fa fa-linkedin fa-lg"></i> <span>Linkedin</span>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa fa-instagram fa-lg"></i> <span>Instagram</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
