<section class="contact-form">
  <div class="container">
    <div class="row py-5">
      <div class="col-lg-8">
        <div class="p-5">
          <form></form>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-5">
          <ul class="media-link">
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook fa-lg"></i>
                <span>Facebook</span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/?lang=en" target="_blank"
                ><i class="fa fa-twitter fa-lg"></i>
                <span>Twitter</span>
              </a>
            </li>
            <li>
              <a href="https://ie.linkedin.com/" target="_blank"
                ><i class="fa fa-linkedin fa-lg"></i> <span>Linkedin</span>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa fa-instagram fa-lg"></i> <span>Instagram</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
