<section class="race-section">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-6">
        <div class="team-colours race"></div>
      </div>
      <div class="col-lg-6">
        <div>
          <h3>F1 Tracks</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
            soluta sit cum maxime aspernatur voluptatum, labore consectetur!
            Odio omnis laboriosam rerum quidem suscipit, fugiat sequi! Corporis
            natus, voluptates officiis beatae cupiditate, numquam iure quisquam
            asperiores doloremque commodi esse eius nisi! Voluptatem ipsam
            voluptate numquam in aliquid, soluta vitae facilis quaerat!
          </p>
        </div>
        <div class="button-container">
          <button class="btn btn-gold" (click)="toTracks()">See Tracks</button>
        </div>
      </div>
    </div>
  </div>
</section>
