@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/button";
@import "../../../styles/helpers/team";

.race {
  height: 25rem;
}

.race-section {
  background-color: $color-black;
  color: $color-white;
}
