@import "../../../styles/helpers/variables";

// ADD TO .TRACK-HEADER WHEN STYLING COMPLETE

.container-fluid {
  background-color: $color-black;
}

.track-image {
  border-bottom: 2px solid $color-black;
}

.track-info {
  border-left: 2px solid $color-black;
}

.track-header {
  border-bottom: 2px solid $color-black;
}

.track-link {
  display: flex;
  flex-direction: row;

  & ul {
    padding-left: 2rem;
  }

  & li {
    margin: 0 auto;
    margin-bottom: 0;
    list-style: none;
  }

  a {
    cursor: pointer;
    color: $color-gold;

    &:hover {
      text-decoration: underline;
    }
  }
}
