<section>
  <div class="container-fluid">
    <div class="row pt-2">
      <div class="col track-link">
        <ul *ngFor="let track of trackList; let id = index">
          <a (click)="onTrackChange(id, track.name)"
            ><li>{{ track.name }}</li></a
          >
        </ul>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row track-display">
      <div class="col-lg-6 track-image">
        <img src="{{ track.image }}" class="img-fluid" alt="{{ track.name }}" />
      </div>
      <div class="col-lg-6 track-info">
        <div class="row track-header">
          <div class="col">
            <h3>{{ track.name }}</h3>
            <h5>{{ track.location }}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Track Length: {{ track.distance }}</p>
            <p>Laps: {{ track.laps }}</p>
            <p>Type: {{ track.type }}</p>
            <p>Corners: {{ track.turns }}</p>
            <p>Direction: {{ track.direction }}</p>
            <p>Opened: {{ track.opened }}</p>
            <p>Capacity: {{ track.capacity }}</p>
            <p>FIA Grade: {{ track.grade }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
