@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/button";

.race-info {
  display: flex;
  justify-content: center;
  align-items: center;

  //background-image: linear-gradient(to right, $color-gold, 20%, $color-black);
  background-color: $color-black;
  color: $color-white;
}

.row {
  padding: 2rem 0;
}

@media only screen and(max-width:992px) {
  .row {
    display: flex;
    flex-flow: column-reverse;
    padding: 0;
  }
  .season {
    padding-top: 2rem;
  }
}
