<section class="contact-section">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6">
        <div>
          <h3 class="season">2021 Season</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
            soluta sit cum maxime aspernatur voluptatum, labore consectetur!
            Odio omnis laboriosam rerum quidem suscipit, fugiat sequi! Corporis
            natus, voluptates officiis beatae cupiditate, numquam iure quisquam
            asperiores doloremque commodi esse eius nisi! Voluptatem ipsam
            voluptate numquam in aliquid, soluta vitae facilis quaerat!fugiat
            sequi!
          </p>
        </div>
        <div class="button-container">
          <button class="btn btn-altGold" (click)="toRaces()">Races</button>
        </div>
      </div>
      <div class="col-lg-6">
        <h3>Feature Races</h3>
        <div class="race-info">
          <div class="py-5">
            <h3>{{ receivedRace.raceName }}</h3>
            <h4>{{ receivedRace.Circuit.circuitName }}</h4>
            <h4>Round {{ receivedRace.round }}</h4>
            <h4>{{ receivedRace.date | date: "longDate" }}</h4>
            <h4>{{ receivedRace.time | time }} GMT</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
