@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/team";

.team {
  background-color: $color-black;
  //background-image: linear-gradient(to right, $color-black, $color-gold);
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .team-display {
    height: 120px;
    display: flex;
    align-items: center;
  }
}
