@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/team";

.team {
  background-color: $color-black;
  //background-image: linear-gradient(to right, $color-black, $color-gold);
}

a {
  text-decoration: none;
  cursor: pointer;
}
