@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/team";

h4 {
  border: 1px solid $color-gold;
  color: $color-gold;
  background-color: $color-black;

  a {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    float: right;
    padding-right: 1rem;

    img {
      height: 50px;
      width: 100px;
    }
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
}
