@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/button";

.shop-section {
  background-color: $color-black;
  color: $color-white;
}

.row {
  padding: 2rem 0;
}

img {
  max-height: 30rem;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .active.carousel-item-left,
  .carousel-item-prev:not(.carousel-item-right) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .active.carousel-item-right,
  .carousel-item-next:not(.carousel-item-left) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 992px) {
  .row {
    padding: 0;
  }
  h3 {
    padding-top: 2rem;
  }
}
