@import "../../../styles/helpers/variables";

.footer {
  background-color: $color-black;
  color: $color-white;
  font-size: 1.6rem;

  & input {
    font-size: 1.6rem;
  }

  & button {
    font-size: 1.6rem;
  }

  & li a {
    color: $color-gold;
    margin: 0 1.4rem;
  }

  & li a:hover {
    color: $color-gold;
    text-decoration: underline;
  }
}

.media-link {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  & li {
    margin: 0 auto;
  }
}
.btn-outline-secondary {
  background-color: $color-gold;
  border-color: $color-gold;
  color: $color-black;
}

.btn-outline-secondary:hover {
  background-color: transparent;
  border-color: $color-gold;
  color: $color-white;
}
