@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/button";
@import "../../../styles/helpers/team";

img {
  max-height: 25rem;
}

@media only screen and(max-width:992px) {
  .row {
    display: flex;
    flex-flow: column-reverse;
  }
}
